.md-accent{
    width: 700px !important;
    height: 200px !important;
    margin: auto;
}
#app{
    height: 100vh !important;
    background: #2d2d2d;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.ip{
    width: 700px !important;
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
